{% extends "layouts/base.html" %}

{% block title %} Invoice {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<main class="content">
		<div class="container-fluid p-0">

			<h1 class="h3 mb-3">Invoice</h1>

			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body m-sm-3 m-md-5">
							<div class="mb-4">
								Hello <strong>Charles Hall</strong>,
								<br /> This is the receipt for a payment of <strong>$268.00</strong> (USD) you made to AdminKit Demo.
							</div>

							<div class="row">
								<div class="col-md-6">
									<div class="text-muted">Payment No.</div>
									<strong>741037024</strong>
								</div>
								<div class="col-md-6 text-md-right">
									<div class="text-muted">Payment Date</div>
									<strong>October 2, 2018 - 03:45 pm</strong>
								</div>
							</div>

							<hr class="my-4" />

							<div class="row mb-4">
								<div class="col-md-6">
									<div class="text-muted">Client</div>
									<strong>
									Charles Hall
									</strong>
									<p>
										4183 Forest Avenue <br> New York City <br> 10011 <br> USA <br>
										<a href="#">
											chris.wood@gmail.com
										</a>
									</p>
								</div>
								<div class="col-md-6 text-md-right">
									<div class="text-muted">Payment To</div>
									<strong>
									AdminKit Demo LLC
									</strong>
									<p>
										354 Roy Alley <br> Denver <br> 80202 <br> USA <br>
										<a href="#">
											info@adminkit.com
										</a>
									</p>
								</div>
							</div>

							<table class="table table-sm">
								<thead>
									<tr>
										<th>Description</th>
										<th>Quantity</th>
										<th class="text-right">Amount</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>AdminKit Demo Theme Customization</td>
										<td>2</td>
										<td class="text-right">$150.00</td>
									</tr>
									<tr>
										<td>Monthly Subscription </td>
										<td>3</td>
										<td class="text-right">$25.00</td>
									</tr>
									<tr>
										<td>Additional Service</td>
										<td>1</td>
										<td class="text-right">$100.00</td>
									</tr>
									<tr>
										<th>&nbsp;</th>
										<th>Subtotal </th>
										<th class="text-right">$275.00</th>
									</tr>
									<tr>
										<th>&nbsp;</th>
										<th>Shipping </th>
										<th class="text-right">$8.00</th>
									</tr>
									<tr>
										<th>&nbsp;</th>
										<th>Discount </th>
										<th class="text-right">5%</th>
									</tr>
									<tr>
										<th>&nbsp;</th>
										<th>Total </th>
										<th class="text-right">$268.85</th>
									</tr>
								</tbody>
							</table>

							<div class="text-center">
								<p class="text-sm">
									<strong>Extra note:</strong> Please send all items at the same time to the shipping address. Thanks in advance.
								</p>

								<a href="#" class="btn btn-primary">
									Print this receipt
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
