{% extends "layouts/base.html" %}

{% block title %} UI Alerts {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<main class="content">
		<div class="container-fluid p-0">

			<h1 class="h3 mb-3">Alerts</h1>

			<div class="row">
				<div class="col-12 col-lg-6">
					<div class="card">
						<div class="card-header">
							<h5 class="card-title">Default alerts</h5>
							<h6 class="card-subtitle text-muted">Alerts with contextual background color.</h6>
						</div>
						<div class="card-body">
							<div class="mb-3">
								<div class="alert alert-primary alert-dismissible" role="alert">
									<button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
									<div class="alert-message">
										<strong>Hello there!</strong> A simple primary alert—check it out!
									</div>
								</div>
								<div class="alert alert-secondary alert-dismissible" role="alert">
									<button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
									<div class="alert-message">
										<strong>Hello there!</strong> A simple secondary alert—check it out!
									</div>
								</div>
								<div class="alert alert-success alert-dismissible" role="alert">
									<button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
									<div class="alert-message">
										<strong>Hello there!</strong> A simple success alert—check it out!
									</div>
								</div>
								<div class="alert alert-danger alert-dismissible" role="alert">
									<button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
									<div class="alert-message">
										<strong>Hello there!</strong> A simple danger alert—check it out!
									</div>
								</div>
								<div class="alert alert-warning alert-dismissible" role="alert">
									<button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
									<div class="alert-message">
										<strong>Hello there!</strong> A simple warning alert—check it out!
									</div>
								</div>
								<div class="alert alert-info alert-dismissible" role="alert">
									<button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
									<div class="alert-message">
										<strong>Hello there!</strong> A simple info alert—check it out!
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 col-lg-6">
					<div class="card">
						<div class="card-header">
							<h5 class="card-title">Icon alerts</h5>
							<h6 class="card-subtitle text-muted">Alerts with icon and background color.</h6>
						</div>
						<div class="card-body">
							<div class="mb-3">
								<div class="alert alert-primary alert-dismissible" role="alert">
									<button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
									<div class="alert-icon">
										<i class="far fa-fw fa-bell"></i>
									</div>
									<div class="alert-message">
										<strong>Hello there!</strong> A simple primary alert—check it out!
									</div>
								</div>
								<div class="alert alert-secondary alert-dismissible" role="alert">
									<button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
									<div class="alert-icon">
										<i class="far fa-fw fa-bell"></i>
									</div>
									<div class="alert-message">
										<strong>Hello there!</strong> A simple secondary alert—check it out!
									</div>
								</div>
								<div class="alert alert-success alert-dismissible" role="alert">
									<button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
									<div class="alert-icon">
										<i class="far fa-fw fa-bell"></i>
									</div>
									<div class="alert-message">
										<strong>Hello there!</strong> A simple success alert—check it out!
									</div>
								</div>
								<div class="alert alert-danger alert-dismissible" role="alert">
									<button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
									<div class="alert-icon">
										<i class="far fa-fw fa-bell"></i>
									</div>
									<div class="alert-message">
										<strong>Hello there!</strong> A simple danger alert—check it out!
									</div>
								</div>
								<div class="alert alert-warning alert-dismissible" role="alert">
									<button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
									<div class="alert-icon">
										<i class="far fa-fw fa-bell"></i>
									</div>
									<div class="alert-message">
										<strong>Hello there!</strong> A simple warning alert—check it out!
									</div>
								</div>
								<div class="alert alert-info alert-dismissible" role="alert">
									<button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
									<div class="alert-icon">
										<i class="far fa-fw fa-bell"></i>
									</div>
									<div class="alert-message">
										<strong>Hello there!</strong> A simple info alert—check it out!
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 col-lg-6">
					<div class="card">
						<div class="card-header">
							<h5 class="card-title">Outline alerts</h5>
							<h6 class="card-subtitle text-muted">Alerts with contextual icon background.</h6>
						</div>
						<div class="card-body">
							<div class="mb-3">
								<div class="alert alert-primary alert-outline alert-dismissible" role="alert">
									<button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
									<div class="alert-icon">
										<i class="far fa-fw fa-bell"></i>
									</div>
									<div class="alert-message">
										<strong>Hello there!</strong> A simple primary alert—check it out!
									</div>
								</div>
								<div class="alert alert-secondary alert-outline alert-dismissible" role="alert">
									<button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
									<div class="alert-icon">
										<i class="far fa-fw fa-bell"></i>
									</div>
									<div class="alert-message">
										<strong>Hello there!</strong> A simple secondary alert—check it out!
									</div>
								</div>
								<div class="alert alert-success alert-outline alert-dismissible" role="alert">
									<button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
									<div class="alert-icon">
										<i class="far fa-fw fa-bell"></i>
									</div>
									<div class="alert-message">
										<strong>Hello there!</strong> A simple success alert—check it out!
									</div>
								</div>
								<div class="alert alert-danger alert-outline alert-dismissible" role="alert">
									<button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
									<div class="alert-icon">
										<i class="far fa-fw fa-bell"></i>
									</div>
									<div class="alert-message">
										<strong>Hello there!</strong> A simple danger alert—check it out!
									</div>
								</div>
								<div class="alert alert-warning alert-outline alert-dismissible" role="alert">
									<button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
									<div class="alert-icon">
										<i class="far fa-fw fa-bell"></i>
									</div>
									<div class="alert-message">
										<strong>Hello there!</strong> A simple warning alert—check it out!
									</div>
								</div>
								<div class="alert alert-info alert-outline alert-dismissible" role="alert">
									<button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
									<div class="alert-icon">
										<i class="far fa-fw fa-bell"></i>
									</div>
									<div class="alert-message">
										<strong>Hello there!</strong> A simple info alert—check it out!
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 col-lg-6">
					<div class="card">
						<div class="card-header">
							<h5 class="card-title">Colored outline alerts</h5>
							<h6 class="card-subtitle text-muted">Alerts with contextual outline color.</h6>
						</div>
						<div class="card-body">
							<div class="mb-3">
								<div class="alert alert-primary alert-outline-coloured alert-dismissible" role="alert">
									<button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
									<div class="alert-icon">
										<i class="far fa-fw fa-bell"></i>
									</div>
									<div class="alert-message">
										<strong>Hello there!</strong> A simple primary alert—check it out!
									</div>
								</div>
								<div class="alert alert-secondary alert-outline-coloured alert-dismissible" role="alert">
									<button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
									<div class="alert-icon">
										<i class="far fa-fw fa-bell"></i>
									</div>
									<div class="alert-message">
										<strong>Hello there!</strong> A simple secondary alert—check it out!
									</div>
								</div>
								<div class="alert alert-success alert-outline-coloured alert-dismissible" role="alert">
									<button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
									<div class="alert-icon">
										<i class="far fa-fw fa-bell"></i>
									</div>
									<div class="alert-message">
										<strong>Hello there!</strong> A simple success alert—check it out!
									</div>
								</div>
								<div class="alert alert-danger alert-outline-coloured alert-dismissible" role="alert">
									<button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
									<div class="alert-icon">
										<i class="far fa-fw fa-bell"></i>
									</div>
									<div class="alert-message">
										<strong>Hello there!</strong> A simple danger alert—check it out!
									</div>
								</div>
								<div class="alert alert-warning alert-outline-coloured alert-dismissible" role="alert">
									<button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
									<div class="alert-icon">
										<i class="far fa-fw fa-bell"></i>
									</div>
									<div class="alert-message">
										<strong>Hello there!</strong> A simple warning alert—check it out!
									</div>
								</div>
								<div class="alert alert-info alert-outline-coloured alert-dismissible" role="alert">
									<button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
									<div class="alert-icon">
										<i class="far fa-fw fa-bell"></i>
									</div>
									<div class="alert-message">
										<strong>Hello there!</strong> A simple info alert—check it out!
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 col-lg-6">
					<div class="card">
						<div class="card-header">
							<h5 class="card-title">Alerts with additonal content</h5>
							<h6 class="card-subtitle text-muted">Alerts with large contents.</h6>
						</div>
						<div class="card-body">
							<div class="mb-3">
								<div class="alert alert-success alert-dismissible" role="alert">
									<button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
									<div class="alert-message">
										<h4 class="alert-heading">Well done!</h4>
										<p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an
											alert works with this kind of content.</p>
										<hr>
										<p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
									</div>
								</div>
							</div>

							<div class="mb-3">
								<div class="alert alert-primary alert-outline alert-dismissible" role="alert">
									<button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
									<div class="alert-message">
										<h4 class="alert-heading">Well done!</h4>
										<p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an
											alert works with this kind of content.</p>
										<hr>
										<p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 col-lg-6">
					<div class="card">
						<div class="card-header">
							<h5 class="card-title">Alerts with buttons</h5>
							<h6 class="card-subtitle text-muted">Alerts with actions.</h6>
						</div>
						<div class="card-body">
							<div class="mb-3">
								<div class="alert alert-success alert-dismissible" role="alert">
									<button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
									<div class="alert-message">
										<h4 class="alert-heading">Well done!</h4>
										<p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an
											alert works with this kind of content.</p>
										<hr>
										<div class="btn-list">
											<button class="btn btn-light" type="button">Okay</button>
											<button class="btn btn-secondary" type="button">No, thanks</button>
										</div>
									</div>
								</div>
							</div>

							<div class="mb-3">
								<div class="alert alert-primary alert-outline alert-dismissible" role="alert">
									<button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
									<div class="alert-message">
										<h4 class="alert-heading">Well done!</h4>
										<p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an
											alert works with this kind of content.</p>
										<hr>
										<div class="btn-list">
											<button class="btn btn-success" type="button">Okay</button>
											<button class="btn btn-danger" type="button">No, thanks</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
